.header .header_mid .margin22{
	margin-left:120px;
}
.header .header_mid .margin28{
	margin-left:228px;
}
.header .header_mid .margin22 li {
	margin: 0 30px;
	
}

/*导航阴影*/
.mbs{
	margin-top: 6px;
}










